body {
    font-family: Monospace;
    background-color: #000;
    color: #000;
    margin: 0px;
    overflow: hidden;
}
#info {
    color: #fff;
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    display:block;
}
#info a, .button { color: #fff; font-weight: bold; text-decoration: underline; cursor: pointer }

#loader{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 300px;
    margin: -150px 0 0 -150px;
}

#spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -91px 0 0 -91px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#progressGray {
    position: absolute;
    width: 100%;
    bottom: 0px;
    height: 16px;
    background-color: #f3f3f3;
}

#progressBlue {
    width: 0%;
    height: 16px;
    background-color: #3498db;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 16px; /* To center it vertically */
    color: white;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}